{{!-- Kết thúc Phần Menu --}}
<div class="col-sm-9">
    <h2 class="mt-5 mx-5" style="color: #6B6B6B;">Trang Chủ</h2>

    {{!-- Phần search --}}
    <nav class="navbar" style="width: 1125px; height: 60px; background-color: white;">
        <div class="container-fluid mx-5">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success 	fa fa-search" type="submit"></button>
            </form>
        </div>
    </nav>
    {{!-- Kết thúc Phần search --}}

    {{!--Phần Tổng --}}
    <div class="container row mt-4">
        <div class="rounded shadow-sm " style="background-color: white; width: 230px; margin-left: 56px;">
            <p class="border rounded-circle shadow-lg text-center pt-3 mb-3 mx-3 mt-3 fas fa-money-check-alt"
                style="background-color: white; height: 50px; width: 50px;">
            </p>
            <p class="mx-3" style="color: #64748B; font-size: 14px;">Tổng doanh thu</p>
            <h3 class="mx-3 pb-3">$37,193.00</h3>
        </div>
        <div class="rounded shadow-sm ms-4" style="background-color: white; width: 230px;">
            <p class="border rounded-circle shadow-lg text-center pt-3 mb-3 mx-3 mt-3 fas fa-money-check-alt"
                style="background-color: white; height: 50px; width: 50px;">
            </p>
            <p class="mx-3" style="color: #64748B; font-size: 14px;">Tổng doanh thu</p>
            <h3 class="mx-3 pb-3">$37,193.00</h3>
        </div>
        <div class="rounded shadow-sm ms-4" style="background-color: white; width: 230px;">
            <p class="border rounded-circle shadow-lg text-center pt-3 mb-3 mx-3 mt-3 fas fa-money-check-alt"
                style="background-color: white; height: 50px; width: 50px;">
            </p>
            <p class="mx-3" style="color: #64748B; font-size: 14px;">Tổng doanh thu</p>
            <h3 class="mx-3 pb-3">$37,193.00</h3>
        </div>
        <div class="rounded shadow-sm ms-4" style="background-color: white; width: 230px;">
            <p class="border rounded-circle shadow-lg text-center pt-3 mb-3 mx-3 mt-3 fas fa-money-check-alt"
                style="background-color: white; height: 50px; width: 50px;">
            </p>
            <p class="mx-3" style="color: #64748B; font-size: 14px;">Tổng doanh thu</p>
            <h3 class="mx-3 pb-3">$37,193.00</h3>
        </div>
    </div>
    {{!-- Kết thúc Phần Tổng --}}

    {{!-- Phần biểu đồ --}}
    <div class="row mt-5">

        {{!-- Biểu đồ doanh thu --}}

        <div class="col-9" style="margin: auto;">
            <h4 class="pb-2">Biểu đồ doanh thu</h4>
            <canvas id="myColumnChart"></canvas>
        </div>

        <!-- Kịch bản tạo biểu đồ sẽ được gọi sau khi tải trang -->
        <script src="/js/chartColumnDoanhThu.js"></script>

        <div class="col-9 mt-5" style="margin: auto;">
             <h4 class="pb-2">Biểu đồ lượt mượn</h4>    
            <canvas id="mycolumnChartViews"></canvas>
        </div>

        <!-- Kịch bản tạo biểu đồ sẽ được gọi sau khi tải trang -->
        <script src="/js/chartColumnView.js"></script>
    </div>

</div>