<div style="background-color: #FDFBF8; ">
    <div class="" style="background-color: #FFFFFF; width: 25%; height: 800px;">
        <h5 class="px-5 pt-4 pb-5" style="color: #109CF1;">PolyLibrary</h5>

        <div>
            <img class="img-thumbnail rounded-circle ms-5 mb-4" style="width: 70px; height: 70px;"
                src="../../images/logo.png" alt="" srcset="">
            <label class="labe  mx-3">
                <h6>Admin</h6>
                <p style="color:gray;">admin@gmail.com</p>
            </label>
            <hr>
            {{!-- Trang chủ --}}
            <div class="dropdown d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-secondary">
                    <label style="margin-right: 130px; margin-left: 16px;">
                        <a href="#" class="text-decoration-none text-reset">Trang chủ</a>
                    </label>
                </button>
            </div>
            {{!-- Dropdown Sách --}}
            <div class="dropdown d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown">
                    <label style="margin-right: 150px; margin-left: 16px;">
                        Sách
                    </label>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="margin-right: 100px;" class="dropdown-item" href="#">Thêm Sách</a></li>
                    <li><a style="margin-right: 100px;" class="dropdown-item" href="#">Danh sách Sách</a></li>
                </ul>
            </div>
            {{!-- Dropdown Thành viên --}}
            <div class="dropdown d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown">
                    <label style="margin-right: 103px; margin-left: 16px;">
                        Thành Viên
                    </label>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="margin-right: 50px;" class="dropdown-item" href="#">Thêm Thành Viên</a></li>
                    <li><a style="margin-right: 50px;" class="dropdown-item" href="#">Danh sách Thành Viên</a></li>
                </ul>
            </div>
            {{!-- Dropdown Loại sách --}}
            <div class="dropdown d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown">
                    <label style="margin-right: 115px; margin-left: 16px;">
                        Loại Sách
                    </label>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="margin-right: 60px;" class="dropdown-item" href="#">Thêm Loại Sách</a></li>
                    <li><a style="margin-right: 60px;" class="dropdown-item" href="#">Danh sách Loại Sách</a></li>
                </ul>
            </div>
            {{!-- Dropdown Thủ thư --}}
            <div class="dropdown d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-secondary dropdown-toggle " data-bs-toggle="dropdown">
                    <label style="margin-right: 122px; margin-left: 16px;">
                        Thủ Thư
                    </label>
                </button>
                <ul class="dropdown-menu">
                    <li><a style="margin-right: 70px;" class="dropdown-item" href="#">Thêm Thủ Thư</a></li>
                    <li><a style="margin-right: 70px;" class="dropdown-item" href="#">Danh sách Thủ Thư</a></li>
                </ul>
            </div>
            {{!-- Phiếu mượn --}}
            <div class="dropdown d-flex justify-content-center mt-5 mb-5">
                <button class="btn btn-secondary">
                    <label style="margin-right: 115px; margin-left: 16px;">
                        <a href="#" class="text-decoration-none text-reset">Phiếu mượn</a>

                    </label>
                </button>
            </div>

        </div>
    </div>
</div>