<div class="col-sm-9 mt-5">
    <div class="mt-2">
        <Text style="color: #6B6B6B;
                        font-size: 36px;
                        font-family: Poppins;
                        font-weight: 600;
                        letter-spacing: 0.36px;
                        word-wrap: break-word">Loại Sách Trong Thư Viện</Text>
    </div>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Tìm Kiếm" aria-label="Search" style="height:60px;">
    </form>
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Tên loại sách</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tùy chọn</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Ngữ văn 12</td>
                <td>10</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button">Sửa</button>
                        <button class="btn btn-danger" type="button">Xóa</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="row">Ngữ văn 12</td>
                <td>10</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" type="button">Sửa</button>
                        <button class="btn btn-danger" type="button">Xóa</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="row">Ngữ văn 12</td>
                <td>10</td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary " onclick="window.location.href='/updatetypebook/'">Sửa</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Xóa
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xóa loại sách</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có muốn xóa loại sách này đi không
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Không</button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Có</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>

        </tbody>
    </table>
</div>