<div class="col-sm-9 mt-5">
    <div class="mt-2">
        <Text style="color: #6B6B6B;
                        font-size: 36px;
                        font-family: Poppins;
                        font-weight: 600;
                        letter-spacing: 0.36px;
                        word-wrap: break-word">Thông tin phiếu mượn</Text>
    </div>
    <div class="row" style="margin-top: 20px;">
        <form>
            <div class="mb-3">
                <div class="row">
                    <label for="exampleInputEmail1" class="form-label">Tên người mượn <span
                            class="text-danger">*</span></label>
                </div>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    value="Nguyên Văn A">
            </div>
            <div class="mb-3">
                <div class="row">
                    <label for="exampleInputEmail1" class="form-label">Tên Sách <span
                            class="text-danger">*</span></label>
                </div>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    value="Ngữ văn 12">
            </div>
            <div class="mb-3">
                <div class="row">
                    <label for="exampleInputEmail1" class="form-label">Điện thoại <span
                            class="text-danger">*</span></label>
                </div>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    value="0912345678">
            </div>
            <div class="mb-3">
                <div class="row">
                    <label for="exampleInputEmail1" class="form-label">Thủ thư <span
                            class="text-danger">*</span></label>
                </div>
                <input type="text" class="form-control" id="exampleInputPassword1" value="Nguyễn Văn Thư">
            </div>
            <div class="row d-flex justify-content-between" style="margin-top: 40px;">
                <div class="input-group mb-3" style="width: 45%;">
                    <lable class="input-group-text" id="basic-addon1">Giá</lable>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" value="120.000đ">
                </div>
                <div class="input-group mb-3 " style="width: 45%;">
                    <lable class="input-group-text" id="basic-addon1">Ngày</lable>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" value="10/2/2023">
                </div>
            </div>

    </div>


    </form>
</div>