<div class="col-sm-9 mt-5">
    <div class="mt-2">
        <Text style="color: #6B6B6B;
                        font-size: 36px;
                        font-family: Poppins;
                        font-weight: 600;
                        letter-spacing: 0.36px;
                        word-wrap: break-word">Thêm Thành Viên</Text>
    </div>
    <div class="row mt-3 rounded-3 d-flex justify-content-center m-5" style="height: 800px; background-color: #F5F6F8;">
        <div class="row" style="margin-top: 0px;">
            <form action="/addmember" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Mã thành viên <span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="memberID" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Tên thành viên <span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Địa chỉ <span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="address" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Điện thoại <span
                                class="text-danger">*</span></label>
                    </div>
                    <input type="text" name="phone" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mt-3">
                    <div class="row">
                        <label for="exampleInputEmail1" class="form-label">Ảnh <span
                                class="text-danger">*</span></label>
                    </div>
                    <div class="form-floating mb-5">
                        <!--   PHOTO-->
                        <input onchange="loadImage(event)" type="file" name="myImage" accept="image/*" />
                        <img id="image" src="../../images/z4518521918846_a158c9fc0f4d32470c2167d31f784337.jpg" alt="Lỗi"
                            style="width: 50px; height: 50px;">
                        <script>
                            var loadImage = function (event) {
                                var img = document.getElementById("image");
                                img.src = URL.createObjectURL(event.target.files[0]);
                            };
                        </script>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn p-2" type="submit"
                        style="background-color: #8C2100; color: white; width: 400px;height: 50px;">Thêm thành
                        viên</button>
                </div>

            </form>
        </div>
    </div>
</div>